{% extends 'base.html' %}

{% block title %}
    <title>Nos lieux de ventes</title>
{% endblock %}


{% block content %}
         <div class="content">
    <div class= "blocs_center" style=" < width:auto; height:auto; position:relative; margin:30px; border: 8px solid #ffcb9a;">
    <dl>
        <dt><h2 style="text-align:center;"><strong>Horaires et lieux de ventes :</strong></h2></dt>
        <br>
        <br>
        <dt><strong>Mardi :</strong></dt>
        <dd>Oignie : de 7h00 à 13h30</dd>
        <br>
        <br>
        <dt><strong>Mercredi :</strong></dt>
        <dd>Douai, place Carnot : de 7h00 à 13h30</dd>
        <br>
        <br>
        <dt><strong>Jeudi :</strong></dt>
        <dd>Denain : de 7h30 à 13h00</dd>
        <dd>Cuincy, place de la mairie : de 14h30 à 19h00</dd>
        <br>
        <br>
        <dt><strong>Vendredi :</strong></dt>
        <dd>Sin-le-Noble : de 7h00 à 13h30</dd>
        <br>
        <br>
        <dt><strong>Samedi :</strong></dt>
        <dd>Douai, place Saint Amé : de 7h00 à 13h30</dd>
        <br>
        <br>
        <dt><strong>Dimanche 1er du mois :</strong></dt>
        <dd>Ferin : de 7h00 à 13h30</dd>
        <br>
        <br>
        <dt><strong>Dimanche 2ᵉ du mois :</strong></dt>
        <dd>Cuincy : de 7h00 à 13h30</dd>
        <br>
        <br>
        <dt><strong>Dimanche 3ᵉ du mois :</strong></dt>
        <dd>Brebierre : de 7h00 à 13h30</dd>
    </dl>

</div>
         </div>


{% endblock %}