{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Vos commandes et livraisons</title>
{% endblock %}





{% block content %}
         <div class="content">
    <div class= "blocs_center" style=" < width:auto; height:auto; position:relative; margin:30px; border: 8px solid #ffcb9a;">


<h2 style="text-align:center;">Commandes et livraisons :</h2></dt>
<br>
<br>
<dt><h3>Pour toutes commandes :</h3></dt>
<br>
<dd>Lorsque vous nous commandez des produits, vous avez le choix entre une sélection de plus de 110 produits livrables, disponible sur nos marchés. </dd>
<br>
<br>
<dt><h3>Pour votre livraison :</h3></dt>
<dd>Nos livraisons se font le jour des marchés, à partir de 14:00, dans un rayon de 5 km.</dd>
<dd>Contactez nous la veille de votre livraison.</dd>
<br>
<dt><h3>Prenez contact avec nous :</h3></dt>
<br>
<dd><li>telephone : 06/83/41/65/41</li></dd>
<br>
<dd><li>mail : aubeurrenoisette@gmail.com</li></dd>

</div>
         </div>


{% endblock %}