{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Réponses à vos questions</title>
{% endblock %}

{% block content %}

<div class= "blocs_center" style="position:relative; margin-left: auto; margin-right: auto;">
    <dl>
        <dt><h2 style="text-align:center;">Réponses à vos questions:</h2></dt>

        <dt><h3>Voici quelques réponses aux questions les plus couramment posées à moi même</h3></dt>
        <br>
        <dt><h2>Pour les Fromages:</h2></dt>

        <dt><h3><strong>Qu'est- ce que du lait cru ?</strong></h3></dt>
        <dd>Le lait cru est le lait qui est recueilli juste après la traite, il garde l'intégralité des ses vertus nutritionnelles; il a une conservation de 3 jours, </dd>
        <dd>Le Lait frais ou pasteurisé est réchauffé à 72 °, le lait pasteurisé à 100 ° et le lait UHT à plus de 180 °</dd>

        <dt><h3><strong>Qu'elle est la différence entre un fromage fermier et un fromage laitier ?</strong></h3></dt>
        <dd>Un fromage fermier est fabriqué à la ferme avec le lait du troupeau de la ferme.</dd>
        <dd>Un fromage laitier est fabriqué en laiterie en mélangeant le lait de différents troupeaux de différentes fermes.</dd>
        <dd>Plus la laiterie est importante plus la zone de collecte du lait est grande.</dd>

        <dt><h3><strong>Qu'appelle-t'on l'affinage d'un fromage ?</strong></h3></dt>
        <dd>L' affinage du fromage est la dernière étape de fabrication après le caillage, le rompage, le moulage, le salage, l'égouttage ou séchage.</dd>
        <dd>Cette étape se réalise en cave d'affinage où la température est maintenue à 12 ° et à une hydrométrie de plus de 80 %. La durée peut varier de quelques jours à plusieurs années. Durant ce temps les fromages seront lavés ou brossés, en vieillissant ils apporteront, toutes leurs saveurs.</dd>
        <dd>Dans nos fromageries, pour certains d'entre eux il vous sera demandé l'affinage que vous souhaitez.</dd>
        <dd><h4>si l'on prend l'exemple du camembert vous pouvez le trouver:</h4></dd>

        <dd><li>Blanc : il sera jeune et entièrement crayeux à coeur,</li></dd>
        <dd><li>1/2 Affiné : il sera crémeux en bord de croûte et crayeux à coeur,</dd>
        <dd><li>3/4 affiné ; il sera crémeux avec un filet crayeux à coeur,</li></dd>
        <dd><li>Affiné ; il sera totalement crémeux à coeur,</li></dd>
        <dd><li>Très affiné ; il sera coulant à coeur avec une croûte marquée et typé en goût.</li></dd>


        <dt><h3><strong>Qu elle est l'appellation de fromage d'Alpage ?</strong></h3></dt>
        <dd>Un fromage d'Alpage est un fromage réalisé en chalet d'Alpage avec le lait d'un même troupeau et lorsque les animaux sont en alpage (été uniquement).</dd>
        <dd>En France on obtient l'appellation 'Alpage' pour les Alpes ou 'Estives' pour les Pyrénées lorsque les troupeaux sont au-dessus de 1200 m.</dd>
        <dd>En Suisse on obtient l'appellation 'Alpage' lorsque les troupeaux sont au-dessus de 800 m.</dd>

        <dt><h3>Pour vos Recettes Fromagères:</h3></dt>

        <dt><h3><strong>Quelle quantité de fromage pour une Raclette ?</strong></h3></dt>
        <dd>On compte 200 g de fromage par personne pour un mangeur classique, on réduit cette quantité s'il y a des enfants, on augmente pour les gourmands.</dd>

        <dt><h3><strong>Quelle quantité de fromage pour fondue et quels fromages prendre ?</strong></h3></dt>
        <dd>On compte 200 g de fromage par personne pour un mangeur classique.</dd>
        <dd>Les fromages les plus couramment utilisés sont le comté, beaufort et emmental.</dd>
        <dd>Si l'on souhaite déguster une fondue assez douce on utilisera des fromages jeunes, Si on la souhaite un peu relevée on privilégiera des fromages à affinage long.</dd>
        <dd>Dans le cas où l'on souhaite une fondue corsée on peut que vous conseiller, des fromages à affinage long, remplacer l'emmental par un vieux gruyère Suisse d'alpage en lui ajoutant un peu d'appenzell extra.</dd>

        <dt><h3>Pour nos Fabrications:</h3></dt>

        <dt><h4><strong>Quel temps de cuisson pour les Tartes aux fromages ?</strong></h4></dt>
        <dd>Il faut compter environ :</dd>
        <dd><li>10 minutes à four chaud à une température de 180 ° ou 2 minutes au micro ondes réglé à 900 W pour les tartelettes.</li></dd>
        <dd><li>15 à 20 minutes à four chaud à une température de 180 °ou 4 minutes au micro ondes réglé à 900 W pour les tartes 3 et 6 personnes (vérifiez avec la pointe d'un couteau la température au coeur de la tarte).</li></dd>

        <dt><h3><strong>Peut on congeler nos produits?</strong></h3></dt>
        <dd>Oui sans aucun problème, toutes nos fabrications, sont journalières et nous n'utilisons que des produits frais.</dd>


    </dl>
</div>


{% endblock %}