{% extends 'base.html' %}

{% block title %}
    <title>Nos recettes</title>
{% endblock %}


{% block content %}
         <div class="content">
    <div class= "blocs_center" style="<width:auto; height:auto; position:relative; margin:30px; border: 8px solid #ffcb9a;">
    <dl>
        <dt><h2 style="text-align:center;"><strong>Nos propositions de recettes</strong></h2></dt>
        <br>
        <br>
        <nav>
            <ul>
                <li class="btn">
                    <a href="https://www.cuisineaz.com/recettes/tartines-au-bacon-raclette-et-moutarde-au-four-76657.aspx" target="_blank">Tartine au bacon, raclette et moutarde au four :</a></li>
                <br>
                <li class="btn">
                    <a href="https://www.marmiton.org/recettes/recette_tartiflette-d-une-vraie-savoyarde_56814.aspx" target="_blank">Tartiflette savoyarde :</a></li>
                <br>
                <li class="btn">
                    <a href="https://www.quiveutdufromage.com/r-tourte-campagnarde-au-camembert" target="_blank">Tourte au camemberts :</a></li>
                <br>
                <li class="btn">
                    <a href="https://www.marmiton.org/recettes/recette_flamiche-au-maroilles_24681.aspx">Flamiche au maroilles :</a></li>
                <br>
                <li class="btn">
                    <a href="https://www.cuisineaz.com/recettes/welsh-complet-77338.aspx" target="_blank">Welsh complet :</a></li>
                <br>
            </ul>
        </nav>
    </dl>

</div>
         </div>


{% endblock %}