{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Triples crèmes</title>
{% endblock %}


{% block content %}
    <section id="produit">
        <h2 style="text-align:center;">Les fromages triples crèmes</h2>
    {% for fromage in fromages %}
        <li class="btn">
            <a href="{% url 'detail' fromage.slug %}"><h3>{{ fromage.name }} </h3></a>
        </li>
            <p>{{ fromage.description }}.</p>
            <img src="{{ fromage.thumbnail.url }}" alt="{{ fromage.name }}" style="max-width: 200px;">
            <p>{{ fromage.price }} € le kg.</p>
        <hr>
    {% endfor %}
    </section>

{% endblock %}